body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

a {
  color: hsl(0, 92%, 63%);
}

a:hover {
  color: hsl(0, 92%, 63%);
}

h2 {
  font-size: 1, 5em;
  font-weight: 600px;
  font-family: "Lobster", cursive;
}

.footnote {
  color: #555;
  font-size: 0.8rem;
  font-weight: 300;
}

/* header section */

.navbar {
  background-color: #555555;
  position: fixed;
  width: 100%;
  z-index: +1;
}

#header-title {
  font-family: "Alfa Slab One", cursive;
  font-size: 1.5rem;
}

.navigation-aria {
  text-align: right;
}

/* Content */

.jumbotron {
  background-color: #fbf7f0;
}

.block {
  padding: 3.5rem;
}

.block h2 {
  padding-bottom: 1.4rem;
}

.startpage {
  margin: 9rem auto;
}

@media (max-width: 975px) {

  .block {
    padding: 1rem;
  }

  .block h2 {
    padding-bottom: 0.8rem;
  }
}
