.stack {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
}

.item_1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.item_2 {
  grid-row: 1 / 4;
  justify-self: center;
  margin-bottom: 10px;
}

.item_3 {
  grid-row: 2 / 3;
}

/* list */

.list {
  width: 400px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list a {
  color: #fbf7f0;
}

.list > li {
  position: relative;
  display: block;
  margin-bottom: 0.25rem;
  padding: 0.325rem 0.825rem 0.325rem 1.325rem;
  color: #fff;
  background: #555555;
}

.list > li:last-child {
  margin-bottom: 0;
}

.list > li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0.5rem;
  background: #cdc9c3;
}

.mern {
  color: hsl(0, 92%, 63%);
}

@media (max-width: 975px) {

  .list {
    width: 100%;
  }

  .stack {
    text-align: justify;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .item_1 {
    grid-row: 1 / 2;
  }

  .item_2 {
    grid-row: 2 / 3;
    justify-self: stretch;
  }

  .item_3 {
    grid-row: 3 / 4;
  }
}
